h2 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
}

.technic {
  display: block;
  background-color: mediumturquoise;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}
