<h2>Категории</h2>
<div class="container">

<div *ngFor="let category of categories[1]" [routerLink]="category.id"  class="technic"><p class="text"><img src="{{category.img}}" class="technic">{{category.name}}</p>

</div>

<div *ngFor="let category of categories[2]" [routerLink]="category.id" class="technic"><p class="text"><img src="{{category.img}}" class="technic">{{category.name}}</p></div>

<div *ngFor="let category of categories[3]" [routerLink]="category.id" class="technic"><p class="text"><img src="{{category.img}}" class="technic">{{category.name}}</p></div>
</div>
